:root {
  --color-link: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --indent: 30px;
  --items: 4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent) * (var(--items) - 1)) / (var(--items))
  );
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.logo {
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-web {
  color: var(--color-link);
}
.header-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.link-nav {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-nav:hover {
  color: var(--color-link);
}
.link-nav:focus {
  color: var(--color-link);
}
.link-nav.current {
  color: var(--color-link);
}
.header-contacts {
  display: flex;
  gap: 50px;
}
.link-auth {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  align-items: center;
}
.link-auth:hover {
  color: var(--color-link);
}
.link-auth:focus {
  color: var(--color-link);
}
.header-icon {
  fill: currentColor;
}
.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
.hero-section button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 152px;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-link);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  margin: auto;
}
.hero-section button:hover {
  background-color: #188ce8;
}
.hero-section button:active {
  background-color: #188ce8;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  gap: var(--indent);
}
.benefits-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.benefits-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  width: 270px;
}
.service-section {
  padding-top: 0;
}
.servise-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}
.service-list {
  display: flex;
  gap: var(--indent);
}
.team-section {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 10px;
  text-align: center;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 16px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-link);
  color: #ffffff;
}
.socials-icon {
  fill: currentColor;
}

.team-background {
  background-color: #ffffff;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  outline: 1px Solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.clients-background:hover,
.clients-background:focus {
  color: var(--color-link);
  outline: 1px Solid var(--color-link);
}
.clients-icon {
  fill: currentColor;
}
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.logo-studio {
  color: #ffffff;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-links {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
address {
  min-width: 231px;
}
.map {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.map:hover {
  color: var(--color-link);
}
.map:focus {
  color: var(--color-link);
}
.communication {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.communication:hover {
  color: var(--color-link);
}
.communication:focus {
  color: var(--color-link);
}
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--color-link);
}
.socials-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-bottom: 20px;
}
.portfolio-button {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}
.sort-button {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.sort-button:hover {
  color: #ffffff;
  background-color: var(--color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.sort-button:focus {
  color: #ffffff;
  background-color: var(--color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  --items: 9;
}
.portfolio-background {
  background-color: #ffffff;
}
.portfolio-background:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #ececec;
  border-top: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-bottom: 4px;
}
.portfolio-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
